<?xml version="1.0"?>
<launch>
  <arg name="base_topic"/>
  <arg name="in_base_topic" default="$(arg base_topic)"/>
  <arg name="out_base_topic" default="$(arg base_topic)"/>

  <param name="$(arg out_base_topic)/compressedDepth/png_level" value="1"/>

  <!-- Republish compressed cloud -->
  <node pkg="image_transport" type="republish" name="$(anon compress_depth)" args="raw in:=$(arg in_base_topic) compressedDepth out:=$(arg out_base_topic)" output="screen" respawn="true"/>

</launch>
