<?xml version="1.0"?>

<launch>
  <arg name="camera_name" default="camera360" />
  
  <!-- Front view -->
  <node pkg="nodelet" type="nodelet" name="$(arg camera_name)_pinhole_front" args="load image_projection/PeriodicImageProjectionNodelet $(arg camera_name)_nodelet_manager" output="screen" respawn="true">
    <rosparam file="$(find hector_sensor_proc_launch)/config/vision/$(arg camera_name)_cameras.yaml" command="load"/>
    
    <param name="update_rate" value="10" />
    
    <param name="base_frame" value="$(arg camera_name)_center_link" />
    <rosparam param="pose">[0, 0, 0, 0, 0.4, 0]</rosparam>
    
    <param name="projection_type" value="image_projection_plugins::PinholeProjection" />
    <rosparam param="projection_parameters">
      image_width: 512
      image_height: 256
      pixels_per_m_x: 128
      pixels_per_m_y: 128
      focal_length: 1
    </rosparam>
    
    <remap from="~projection" to="/$(arg camera_name)/pinhole_front" />
  </node>
  
    <!-- Front view high res-->
<!--  <node pkg="nodelet" type="nodelet" name="$(arg camera_name)_pinhole_front_high_res" args="load fisheye_image_proc/ImageProjectionNodelet $(arg camera_name)_nodelet_manager" output="screen" respawn="true">
    <rosparam file="$(find hector_sensor_proc_launch)/config/vision/$(arg camera_name)_cameras.yaml" command="load"/>
    
    <param name="update_rate" value="10" />
    <param name="use_opencl" value="false"/>
    
    <param name="image_width" value="4096" />
    <param name="image_height" value="2048" />
    <param name="pixels_per_m_x" value="1024" />
    <param name="pixels_per_m_y" value="1024" />
    <param name="base_frame" value="$(arg camera_name)_center_link" />
    
    <param name="projection_type" value="pinhole" />
    <param name="focal_length" value="1.0" />
    <rosparam param="pose">[0, 0, 0, 0, 0.4, 0]</rosparam>
    <param name="save_folder" value="" />
    
    <remap from="~projection" to="/$(arg camera_name)/pinhole_front_high_res" />
  </node>-->
  
  <!-- Back view -->
  <node pkg="nodelet" type="nodelet" name="$(arg camera_name)_pinhole_back" args="load image_projection/PeriodicImageProjectionNodelet $(arg camera_name)_nodelet_manager" output="screen" respawn="true">
    <rosparam file="$(find hector_sensor_proc_launch)/config/vision/$(arg camera_name)_cameras.yaml" command="load"/>
    
    <param name="update_rate" value="10" />
    
    <param name="base_frame" value="$(arg camera_name)_center_link" />
    <rosparam param="pose">[0, 0, 0, 0, 0.4, 3.141592]</rosparam>
    
    <param name="projection_type" value="image_projection_plugins::PinholeProjection" />
    <rosparam param="projection_parameters">
      image_width: 512
      image_height: 256
      pixels_per_m_x: 128
      pixels_per_m_y: 128
      focal_length: 1
    </rosparam>
    
    <remap from="~projection" to="/$(arg camera_name)/pinhole_back" />
  </node>
  
  <!-- Navigation equirectangular (low res) -->
  <node pkg="nodelet" type="nodelet" name="$(arg camera_name)_equirectangular_projection" args="load image_projection/PeriodicImageProjectionNodelet $(arg camera_name)_nodelet_manager" output="screen" respawn="true">
    <rosparam file="$(find hector_sensor_proc_launch)/config/vision/$(arg camera_name)_cameras.yaml" command="load"/>
    
    <param name="update_rate" value="5" />
    
    <param name="base_frame" value="$(arg camera_name)_center_link" />
    <rosparam param="pose">[0, 0, -2.5, 0, 0, 3.141592]</rosparam>
    
    <param name="projection_type" value="image_projection_plugins::MercatorProjection" />
    <rosparam param="projection_parameters">
      image_width: 643
      image_height: 512
      cylinder_radius: 1.0
      cylinder_height: 5.0
    </rosparam>
    
    <remap from="~projection" to="/$(arg camera_name)/equirectangular" />
  </node>
  
  <!-- Detection equirectangular (high res) -->
  <node pkg="nodelet" type="nodelet" name="$(arg camera_name)_equirectangular_low_fov" args="load image_projection/PeriodicImageProjectionNodelet $(arg camera_name)_nodelet_manager" output="screen" respawn="true">
    <rosparam file="$(find hector_sensor_proc_launch)/config/vision/$(arg camera_name)_cameras.yaml" command="load"/>
    
    <param name="update_rate" value="1" />
    
    <param name="base_frame" value="$(arg camera_name)_center_link" />
    <rosparam param="pose">[0, 0, -1, 0, 0, 3.141592]</rosparam>
    
    <param name="projection_type" value="image_projection_plugins::MercatorProjection" />
    <rosparam param="projection_parameters">
      image_width: 3210
      image_height: 768
      cylinder_radius: 1.0
      cylinder_height: 1.5
    </rosparam>
        
    <remap from="~projection" to="/$(arg camera_name)/equirectangular_low_fov" />
  </node>
</launch>
