<?xml version="1.0"?>
<launch>

  <arg name="name" default="sensor_head"/>
  <arg name="manager" default="/sensor_head_rgbd_cam/sensor_head_rgbd_cam_nodelet_manager"/>
  <arg name="manager_ns" default="/sensor_head_rgbd_cam" />
  <arg name="image_topic" default="/sensor_head_rgbd_cam/rgb/image_raw" />

  <!-- Detection aggregator -->
  <node pkg="nodelet" type="nodelet" name="detection_aggregator_nodelet_$(arg name)" args="load hector_detection_aggregator/DetectionAggregatorNodelet $(arg manager)" output="screen" respawn="true">
    <remap from="/sensor_head_rgbd_cam/rgb/image_raw" to="$(arg image_topic)"/>
    <remap from="/detection/aggregated_detections_image" to="/detection_$(arg name)/aggregated_detections_image" />
    <remap from="/detection/visual_detection" to="/detection_$(arg name)/visual_detection"/>
  </node>

  <!-- Motion detection -->
  <node pkg="nodelet" type="nodelet" name="motion_detection_nodelet_$(arg name)" args="load hector_motion_detection/MotionDetectionNodelet $(arg manager)" output="screen" respawn="true">
    <param name="enabled" value="false" />
    <rosparam file="$(find hector_motion_detection)/config/moving_dots.yaml" command="load"/>

    <remap from="~image" to="$(arg image_topic)" />
    <remap from="~enabled_status" to="/startup_check_$(arg name)/motion_detection/enabled_status" />
    <remap from="~enabled" to="/startup_check_$(arg name)/enabled" />
    <remap from="~detection/image_detection" to="/detection_$(arg name)/visual_detection" />
  </node>

  <!-- Hazmat detection -->
<!--  <node name="hazmat_detection_$(arg name)" pkg="hector_hazmat_detection_py" type="hazmat_detection_node.py" output="screen" respawn="true">
    <remap from="~image" to="$(arg image_topic)" />
    <remap from="image_percept" to="/detection_$(arg name)/visual_detection" />
    <remap from="~enabled" to="/startup_check_$(arg name)/enabled" />
    <remap from="~enabled_status" to="/startup_check_$(arg name)/hazmat_detection/enabled_status" />
    <param name="detection_frequency" value="1.0" />
    <param name="periodic_detection" value="false" />
    <param name="min_match_count" value="60" />
    <param name="image_projection_raycast" value="false" />

    <param name="model_folder" value="$(find hector_hazmat_detection_py)/templates/rc22_startcheck" />
  </node>-->

  <!-- QR code detection -->
  <node name="qrcode_detection_$(arg name)" pkg="nodelet" type="nodelet" args="load hector_qrcode_detection/qrcode_detection $(arg manager)" respawn="true">
    <remap from="$(arg manager_ns)/image" to="$(arg image_topic)" />
    <remap from="$(arg manager_ns)/image_percept" to="/worldmodel/image_percept" />
    <remap from="$(arg manager_ns)/perception/image_percept" to="/detection_$(arg name)/visual_detection" />

    <param name="enabled" value="false" />
    <remap from="$(arg manager_ns)/enabled_status" to="/startup_check_$(arg name)/qrcode_detection/enabled_status" />
    <remap from="$(arg manager_ns)/enabled" to="/startup_check_$(arg name)/enabled" />
  </node>
</launch>
