<?xml version="1.0"?>

<launch>
  
  <arg name ="arena" default="vip_demo_oct_2018"/>

  <include file="$(find hector_tracked_vehicles_sim_launch)/launch/start_robocup_with_ground_truth.launch">
    <arg name="arena" value="$(arg arena)"/>
    <arg name="spawn_z_pos" value="0.65" />
    <arg name="spawn_yaw"   value="0" />
  </include>
  
</launch>
