<?xml version="1.0"?>

<launch>
  
  <arg name ="arena" default="start_check"/>

  <include file="$(find hector_tracked_vehicles_sim_launch)/launch/start_robocup_with_ground_truth.launch">
    <arg name="arena" value="$(arg arena)"/>
    <arg name="spawn_x_pos" value="-0.908855" />
    <arg name="spawn_y_pos" value="0.086348" />
    <arg name="spawn_z_pos" value="0.2" />
    <arg name="spawn_roll"  value="0.0" />
    <arg name="spawn_pitch" value="0.0" />    
    <arg name="spawn_yaw"   value="0.0" />
  </include>
  
</launch>
