<?xml version="1.0"?>

<launch>
  <arg name="use_depth_self_filter" default="false"/>

  <include file="$(find hector_tracked_vehicles_launch)/launch/jasmine_2018_elevation_mapping.launch">
    <arg name="use_depth_self_filter" value="$(arg use_depth_self_filter)"/>
  </include>

  <env name="ROSCONSOLE_CONFIG_FILE" value="$(find traversability_estimation)/config/rosconsole.conf"/>

  <node pkg="traversability_estimation" type="traversability_estimation_node" name="traversability_estimation" output="screen" clear_params="true">
    <rosparam command="load" file="$(find hector_tracked_vehicles_launch)/config/jasmine_robot.yaml"/>
    <rosparam command="load" file="$(find hector_tracked_vehicles_launch)/config/jasmine_robot_footprint_parameter.yaml"/>
    <rosparam command="load" file="$(find hector_tracked_vehicles_launch)/config/jasmine_robot_filter_parameter.yaml"/>
<!--    <param name="elevation_map/path_to_bag" value="$(find traversability_estimation)/data/map.bag"/>-->
  </node>
</launch>
