[global_config]
  suppress_multiple_term_dialog = True
[keybindings]
[layouts]
  [[default]]
    [[[child0]]]
      fullscreen = False
      last_active_term = 61b073b8-3860-4efb-8e4f-c434634ad570
      last_active_window = True
      maximised = True
      order = 0
      parent = ""
      position = 67:27
      size = 2493, 1385
      title = parallels@ubuntu: ~
      type = Window
    [[[child1]]]
      order = 0
      parent = child0
      position = 828
      ratio = 0.332797427653
      type = HPaned
    [[[child10]]]
      order = 1
      parent = child8
      position = 466
      ratio = 0.507625272331
      type = VPaned
    [[[child13]]]
      order = 1
      parent = child7
      position = 460
      ratio = 0.333333333333
      type = VPaned
    [[[child15]]]
      order = 1
      parent = child13
      position = 466
      ratio = 0.507625272331
      type = VPaned
    [[[child2]]]
      order = 0
      parent = child1
      position = 458
      ratio = 0.331884057971
      type = VPaned
    [[[child4]]]
      order = 1
      parent = child2
      position = 468
      ratio = 0.508695652174
      type = VPaned
    [[[child7]]]
      order = 1
      parent = child1
      position = 808
      ratio = 0.487334137515
      type = HPaned
    [[[child8]]]
      order = 0
      parent = child7
      position = 460
      ratio = 0.333333333333
      type = VPaned
    [[[terminal11]]]
      order = 0
      parent = child10
      profile = default
      type = Terminal
      uuid = a2723fb3-8748-4ae8-8b98-cf6276bfbb8c
    [[[terminal12]]]
      order = 1
      parent = child10
      profile = default
      type = Terminal
      uuid = 8f4dfd66-03cb-4d19-9ab2-063aa03f019a
    [[[terminal14]]]
      order = 0
      parent = child13
      profile = default
      type = Terminal
      uuid = 2b2cc37e-d11d-46c7-b287-ebdf2f2bf30b
    [[[terminal16]]]
      order = 0
      parent = child15
      profile = default
      type = Terminal
      uuid = 568d44ef-30e7-451b-87e8-1607c3709f81
    [[[terminal17]]]
      order = 1
      parent = child15
      profile = default
      type = Terminal
      uuid = e653691a-15f2-47ec-8baa-8dbff3897838
    [[[terminal3]]]
      order = 0
      parent = child2
      profile = default
      type = Terminal
      uuid = 61b073b8-3860-4efb-8e4f-c434634ad570
    [[[terminal5]]]
      order = 0
      parent = child4
      profile = default
      type = Terminal
      uuid = 6c3fd6df-acab-4645-8002-3cdf56ed2867
    [[[terminal6]]]
      order = 1
      parent = child4
      profile = default
      type = Terminal
      uuid = 4c0ed768-69a9-4065-93aa-afcc0e1e40d5
    [[[terminal9]]]
      order = 0
      parent = child8
      profile = default
      type = Terminal
      uuid = 8189b29b-eed8-43aa-be64-65729d0f0798
  [[enrich]]
    [[[child0]]]
      fullscreen = False
      last_active_term = 6c3fd6df-acab-4645-8002-3cdf56ed2867
      last_active_window = True
      maximised = True
      order = 0
      parent = ""
      position = 67:27
      size = 1853, 1145
      title = parallels@ubuntu: ~
      type = Window
    [[[child1]]]
      order = 0
      parent = child0
      position = 615
      ratio = 0.33
      type = HPaned
    [[[child2]]]
      order = 0
      parent = child1
      position = 192
      ratio = 0.25
      type = VPaned
    [[[child4]]]
      order = 1
      parent = child2
      position = 332
      ratio = 0.33
      type = VPaned
    [[[child6]]]
      order = 1
      parent = child4
      position = 4
      ratio = 0.5
      type = VPaned
    [[[child9]]]
      order = 1
      parent = child1
      position = 570
      ratio = 0.5
      type = VPaned
    [[[terminal10]]]
      command = roslaunch radiological_nuclear_mapper default.launch
      order = 0
      parent = child9
      profile = default
      type = Terminal
      uuid = a2723fb3-8748-4ae8-8b98-cf6276bfbb8c
    [[[terminal11]]]
      command = roslaunch hector_sensor_proc_launch voxblox_rnm_enrich.launch
      order = 1
      parent = child9
      profile = default
      type = Terminal
      uuid = 2b2cc37e-d11d-46c7-b287-ebdf2f2bf30b
    [[[terminal3]]]
      command = roslaunch robot_postproc_launch play_with_recorded_tf.launch
      order = 0
      parent = child2
      profile = default
      type = Terminal
      uuid = 6c3fd6df-acab-4645-8002-3cdf56ed2867
    [[[terminal5]]]
      # command = roslaunch robot_postproc_launch generate_hector_tracker_2017_static_tf.launch
      # command = rostopic echo /ssm1plus_raw
      command = roslaunch drz_telemax_onboard_launch vlp16_self_filter.launch
      order = 0
      parent = child4
      profile = default
      type = Terminal
      uuid = 4c0ed768-69a9-4065-93aa-afcc0e1e40d5
    [[[terminal7]]]
      command = rviz -d ~/hector/src/hector_vehicle_launch/hector_sensor_proc_launch/enrich2019.rviz
      order = 0
      parent = child6
      profile = default
      type = Terminal
      uuid = 8189b29b-eed8-43aa-be64-65729d0f0798
    [[[terminal8]]]
      command = rosparam set use_sim_time true && cd /media/psf/Home/hetor_enrich_competition_run_1/bag && rosbag play *.bag --clock -r 10 /spin_laser/vlp16:=/spin_laser/vlp16_trash
      order = 1
      parent = child6
      profile = default
      type = Terminal
      uuid = 8f4dfd66-03cb-4d19-9ab2-063aa03f019a
[plugins]
[profiles]
  [[default]]
    cursor_color = "#aaaaaa"
