<?xml version="1.0"?>

<launch>
  
   <!--
   Unneeded after using frame id changers below
   <node pkg="tf" type="static_transform_publisher" name="base_link_to_imu_broadcaster" args="0 0 0 0 0 0 base_link imu 100" />
   <node pkg="tf" type="static_transform_publisher" name="navsat_link_to_gps_broadcaster" args="0 0 0 0 0 0 navsat_link gps 100" />
   --> 
  
   <node pkg="topic_field_tools" type="navsat_frame_id_changer" name="navsat_frame_id_changer">
     <remap from="topic_in" to="/phone1/android/fix" />
     <remap from="topic_out" to="/android/fix" />
     <param name="new_frame_id" value="navsat_link" />
   </node>
   
   <node pkg="topic_field_tools" type="imu_frame_id_changer" name="imu_frame_id_changer">
     <remap from="topic_in" to="/phone1/android/imu" />
     <remap from="topic_out" to="/android/imu" />
     <param name="new_frame_id" value="base_link" />
   </node>
   
   
  
   <!--Relay map as no mapping node is producing it here-->
   <node pkg="topic_tools" type="relay" name="relay_map_topic" args="/worldmodel_main/grid_map_low_level /scanmatcher_map" />
   
   
   <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform_node" output="screen">
     <param name="wait_for_datum" value="false" />
     <param name="broadcast_utm_transform" value="true" />
     <rosparam param="datum">[50.396144, 8.546144, 0.0, map, base_link]</rosparam>
     
      <param name="frequency" value="30"/>
      <param name="delay" value="3"/>
      <!--<param name="magnetic_declination_radians" value="0.190240888"/>-->
      <param name="yaw_offset" value="1.570796327"/>
      <param name="zero_altitude" value="true"/>
      <!--<param name="broadcast_utm_transform" value="true"/>-->
      <param name="publish_filtered_gps" value="true"/>
      <param name="use_odometry_yaw" value="false"/>
      <!--<param name="wait_for_datum" value="false"/>-->

      <remap from="/odometry/filtered" to="/odometry/global"/>
      <remap from="/gps/fix" to="/android/fix"/>
     
   </node>
   
       <!-- Global (map) instance -->
    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization_global" clear_params="true">
      <param name="frequency" value="30"/>
      <param name="sensor_timeout" value="0.5"/>
      <param name="two_d_mode" value="false"/>

      <param name="map_frame" value="map"/>
      <param name="odom_frame" value="odom"/>
      <param name="base_link_frame" value="base_link"/>
      <param name="world_frame" value="map"/>

      <param name="transform_time_offset" value="0.0"/>

      <param name="odom0" value="/odom"/>
      <param name="odom1" value="/odometry/gps"/>
      <param name="imu0" value="/android/imu"/>

      <rosparam param="odom0_config">[false, false, false,
                                      false, false, false,
                                      true, true, true,
                                      false, false, true,
                                      false, false, false]</rosparam>

      <rosparam param="odom1_config">[true, true, false,
                                      false, false, false,
                                      false, false, false,
                                      false, false, false,
                                      false, false, false]</rosparam>

      <rosparam param="imu0_config">[false, false, false,
                                     true,  true,  true,
                                     false, false, false,
                                     true,  true,  true,
                                     false,  false,  false]</rosparam>

      <param name="odom0_differential" value="false"/>
      <param name="odom1_differential" value="false"/>
      <param name="imu0_differential" value="false"/>

      <param name="odom0_relative" value="false"/>
      <param name="odom1_relative" value="false"/>
      <param name="imu0_relative" value="false"/>

      <param name="imu0_remove_gravitational_acceleration" value="true"/>
      <param name="print_diagnostics" value="true"/>

      <param name="odom0_queue_size" value="10"/>
      <param name="odom1_queue_size" value="10"/>
      <param name="imu0_queue_size" value="10"/>

      <param name="debug"           value="false"/>
      <param name="debug_out_file"  value="debug_ekf_localization.txt"/>

      <remap from="/odometry/filtered" to="/odometry/global"/>
   </node>
   
</launch>
