<?xml version="1.0"?>
<launch>

  <node pkg="message_to_tf" type="message_to_tf" name="t265_to_tf" output="screen">
    <param name="frame_id" value="odom" />
    <param name="footprint_frame_id" value="" />
    <param name="child_frame_id" value="base_link" />
    <param name="odometry_topic" value="/tracking_camera/odom/sample" />
    <param name="tf_prefix" value="" />
  </node>
  
</launch>
