<?xml version="1.0"?>

<launch>
  
  <!-- Load robot descriptions -->
  <arg name="robot_description_containment_filter" default="$(find xacro)/xacro $(find hector_tracked_vehicles_description)/urdf/jasmine_2018_ugv.urdf.xacro add_containment_self_filter_geom:=true add_default_geom:=false"/>  
  <param name="robot_description_containment_filter" command="$(arg robot_description_containment_filter)" />  
  
  <arg name="robot_description_raycast_filter" default="$(find xacro)/xacro $(find hector_tracked_vehicles_description)/urdf/jasmine_2018_ugv.urdf.xacro add_raycast_self_filter_geom:=true add_default_geom:=false"/>  
  <param name="robot_description_raycast_filter" command="$(arg robot_description_raycast_filter)" />

  <!-- Load config -->
  <arg name="containment_self_filter_config" default="$(find hector_tracked_vehicles_self_filter)/config/containment_self_filter_jasmine_2018.yaml" />
  <arg name="raycast_self_filter_config" default="$(find hector_tracked_vehicles_self_filter)/config/raycast_self_filter_jasmine_2018.yaml" />
    
  <arg name="scan_cloud_topic" default="/spin_lidar/vlp16" />
  <arg name="scan_cloud_filtered_topic" default="/scan_cloud_filtered" />
<!--   <arg name="robot_description_name" default="robot_description"/> -->
  
  <rosparam file="$(arg containment_self_filter_config)" command="load" ns="default_self_filter_lidar" />   
  
  <node pkg="nodelet" type="nodelet" name="default_self_filter_lidar"
        args="load robot_self_filter/robot_self_filter_nodelet velodyne_nodelet_manager" output="screen"
        respawn="true" >
    <remap from="cloud_in" to="$(arg scan_cloud_topic)" />
    <remap from="cloud_out" to="scan_cloud_containment_filtered" />
    <remap from="/robot_description" to="robot_description_containment_filter"/>
    <param name="sensor_frame" value=""/> <!--Do not set to only mask containment-->
  </node>  
  
  <rosparam file="$(arg raycast_self_filter_config)" command="load" ns="raycast_self_filter_lidar" />   
  
  <node pkg="nodelet" type="nodelet" name="raycast_self_filter_lidar"
        args="load robot_self_filter/robot_self_filter_nodelet velodyne_nodelet_manager" output="screen"
        respawn="true">
    <remap from="cloud_in" to="scan_cloud_containment_filtered" />
    <remap from="cloud_out" to="$(arg scan_cloud_filtered_topic)" />
    <remap from="/robot_description" to="robot_description_raycast_filter"/>
    <param name="sensor_frame" value="spin_lidar_mount_link_fixed"/>
  </node>
  
</launch>
