<?xml version="1.0"?>

<launch>
  <param name="/use_sim_time" value="true" />
  
  <include file="$(find hector_onboard_launch)/launch/mapping.launch">
    <arg name="pub_map_odom_transform" value="true"/>
    <arg name="scan_topic" value="/stab_laser/scan" />
    <arg name="odom_frame" value="odom" />    
    <arg name="map_with_known_poses" value="true" />    
    <arg name="use_tf_pose_start_estimate" value="true"/>
  </include>  
  
  <include file="$(find hector_onboard_launch)/launch/trajectory_server.launch"/>
  
  <include file="$(find hector_onboard_launch)/launch/geotiff_worldmodel.launch"/>
  
</launch>    
