#point_cloud_topic: "/scan_matched_points2_cropped"  # deprecated
map_frame_id: "world"
robot_base_frame_id: "base_link"
robot_pose_with_covariance_topic: "/pose_cov"
robot_pose_cache_size: 500
track_point_frame_id: "base_link"
track_point_x: 0.0
track_point_y: 0.0
track_point_z: 0.0
scanning_duration: 2.1 # lidar rotates with 1.5 rad/s. Time needed for half rotation = one full scan

input_sources:
  lidar: # A name to identify the input source
    type: pointcloud # Supported types: pointcloud
    topic: /scan_matched_points2_cropped
    queue_size: 1
    publish_on_update: true # Wether to publish the elevation map after a callback from this source.
