<?xml version="1.0"?>

<!--
Generates a 2D map from a point cloud height slice and saves
Geotiff for it.
-->

<launch> 
  
  <!--
  Sets map topic and service names as well as both node names.
  Can be used to instantiate multiple writers with differents
  settings in parallel
  -->
  <arg name="map_name" default="map_lower_level" />
    
  <arg name="cloud_target_frame" default="base_stabilized" />
  <arg name="cloud_topic" default="/scan_matched_points2" />
  <arg name="min_height" default="0.8"/>    
  <arg name="max_height" default="1.2"/>
  
  <arg name="log_folder" default="$(eval optenv('HECTOR_LOG_FOLDER', find('robot_onboard_logging')))"/>
  <arg name="map_file_path" default="$(arg log_folder)/maps"/>
  <arg name="map_file_base_name" default="RoboCup23-HectorDarmstadt-LowerLevel" />
  <arg name="robot_default_name" default="$(optenv DEFAULT_ROBOT_TYPE asterix)" />


  <node pkg="nodelet" type="nodelet" name="scan_z_filter_$(arg map_name)" output="screen" respawn="false" args="standalone pcl/PassThrough">
    <param name="filter_field_name" value="z"/>
    <param name="filter_limit_min" value="$(arg min_height)"/>
    <param name="filter_limit_max" value="$(arg max_height)"/>
    <param name="input_frame" value="world"/>
    <remap from="~input" to="$(arg cloud_topic)"/>
    <remap from="~output" to="/cloud_map_$(arg map_name)"/>
  </node>
 
  
  <node name="grid_map_2d_$(arg map_name)" type="grid_map_2d_mapper_node" pkg="grid_map_2d_mapper" output="screen" launch-prefix="nice -n 15" respawn="true">
    <param name="min_height" value="-100"/>    
    <param name="max_height" value="100"/>
    <param name="range_min" value="0.2"/>
    <param name="target_frame" value="$(arg cloud_target_frame)"/>
    <param name="downsample_cloud" value="true"/>      
    <param name="angle_increment" value="0.01"/>     
    <param name="probability_free" value="0.45"/>
    <param name="probability_occupied" value="0.8"/> 
    <remap from="~/map" to="$(arg map_name)"/>
    <remap from="/map" to="$(arg map_name)" />
    <remap from="/map_throttled" to="$(arg map_name)_throttled" />
    <remap from="/debug_map" to="$(arg map_name)_debug_map" />
    <remap from="/scan_matched_points2" to="/cloud_map_$(arg map_name)" />
    <remap from="scan" to="$(arg map_name)_scan" />
  </node>


  <node pkg="hector_geotiff" type="geotiff_node" name="hector_geotiff_$(arg map_name)" output="screen" launch-prefix="nice -n 15" respawn="true">
    <remap from="map" to="$(arg map_name)" />
    <param name="map_file_path" type="string" value="$(arg map_file_path)" />
    <param name="map_file_base_name" type="string" value="$(arg map_file_base_name)" />
    <param name="robot_default_name" type="string" value="$(arg robot_default_name)" />
    <param name="geotiff_save_period" type="double" value="45" />
    <param name="plugins" type="string" value="hector_geotiff_plugins/TrajectoryMapWriter hector_worldmodel_geotiff_plugins/GenericMapWriter" />
  </node>
</launch>

